.split-card-scroll-wrapper section {
  position: relative;
  width: 100%;
  height: 100svh; 
  padding: 2rem;
}

.split-intro,
.split-outro {
  text-align: center;
  align-content: center;
}

.split-intro h1,
.split-outro h1 {
  width: 30%;
  margin: 0 auto;
}

.split-sticky {
  display: flex;
  justify-content: center;
  align-items: center;
}

.split-sticky-header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.split-sticky-header h1 {
  position: relative;
  text-align: center;
  will-change: transform, opacity;
  transform: translateY(40px);
  opacity: 0;
}

.split-card-container {
  position: relative;
  width: 75%;
  display: flex;
  perspective: 1000px;
  transform: translateY(40px);
  will-change: width;
}

.split-card {
  position: relative;
  flex: 1;
  aspect-ratio: 5/7;
  transform-style: preserve-3d;
  transform-origin: top;
}

#split-card-1 {
  border-radius: 20px 0 0 20px;
}

#split-card-3 {
  border-radius: 0 20px 20px 0;
}

.split-card-front,
.split-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: inherit;
  overflow: hidden;
}

.split-card-back {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  transform: rotateY(180deg);
  padding: 1.75rem; 
  box-shadow: inset 5px 5px 10px 0 rgb(0 0 0 / 0.1);
  overflow: hidden; 
}

.split-card-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noise)' opacity='0.07'/%3E%3C/svg%3E");
  z-index: 0;
  border-radius: inherit;
  pointer-events: none;
}

.split-card-back-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.split-card-back .card-back-icon {
  opacity: 0.7;
}

.split-card-back .card-back-title {
  font-size: 2.25rem; 
  line-height: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.split-card-back .card-back-text {
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.8;
}

.split-card-back span {
  position: static;
  opacity: 1;
  top: auto;
  left: auto;
}

@media (max-width: 1000px) {
  .split-card-scroll-wrapper section {
    height: auto;
  }

  .split-sticky {
    height: max-content; 
    padding: 4rem 2rem;
    flex-direction: column;
  }

  .split-sticky-header {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-bottom: 4rem;
  }

  .split-sticky-header h1 {
    opacity: 1; 
    transform: none;
  }

  .split-card-container {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    transform: none; 
  }

  .split-card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px !important;
  }

  #split-card-1,
  #split-card-2,
  #split-card-3,
  .split-card-back {
    transform: none; 
  }
}